@import "./Palete";
footer {
  width: 100%;
  min-height: $footer-height;
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .links-container {
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style: none;
        padding: 15px;
        font-size: 17px;
        a {
          color: #fff;
          &:hover {
            color: $hover;
          }
        }
      }
    }
  }
  .icons-container {
    display: flex;
    justify-content: space-evenly;
    a {
      margin: 5px 15px;
    }
  }
  .copyright {
    max-height: 50px;
    font-size: 15x;
    padding: 15px;
    color: #fff;
    .logo {
      font-family: "Times New Roman", Times, serif;
      letter-spacing: -1px;
      font-size: 20px;
    }
  }
}
